@charset "UTF-8";

body {
    box-sizing: border-box;
    padding: 0;
}

#tela-de-cadastro {
    padding: 10px;
    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    color: white;
    border-radius: 10px;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    background-color: blueviolet;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8em;
    color: blueviolet;
}

#inputs input {
  width: 92%;
  margin-bottom: 5px;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #999;
  font-size: 1rem;
  background: white;
  color: #111;
}