@charset "UTF-8";

body {
    box-sizing: border-box;
    padding: 0;
    background-color: blueviolet;
}

#tela-de-cadastro {
    padding: 10px;
    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    color: white;
    border-radius: 10px;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    background-color: blueviolet;
}

#titulo {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    color: blueviolet;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

#inputs input {
  width: 92%;
  margin-bottom: 20px;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #999;
  font-size: 1rem;
  background: white;
  color: #111;
}

button {
  width: 80%;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #999;
  font-size: 1rem;
  background: white;
  color: #111; 
  margin: 10px auto;
  display: block;
}

button:hover {
    border: 3px solid black;
}

main {
    display: flex;          /* coloca os elementos lado a lado */
    align-items: flex-start; /* alinha pelo topo */
    justify-content: center; /* centraliza tudo horizontalmente */
    gap: 30px;               /* espaço entre os dois blocos */
    margin-top: 40px;        /* opcional */
    margin-left: 0px;
}