@charset "UTF-8";

body {
    box-sizing: border-box;
    padding: 0;
}

#tela-de-cadastro {
    padding: 2px;
    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 100%;
    top: 50%;
    left: 50%;
}